<aside class="menu">
	<p class="menu-label">
	  General Menu
	</p>
	<ul class="menu-list">
	  <li><a class="is-active">Homepage</a></li>
	  <li><a>Search</a></li>
	</ul>
	<p class="menu-label">
	  Administration
	</p>
	<ul class="menu-list">
		<li><a>Team Settings</a></li>
		<li>
			<a>Manage Vehicles</a>
			<ul>
		  		<li><a>Add new vehicle</a></li>
		  		<li><a>Plugins</a></li>
		  		<li><a>Add a member</a></li>
			</ul>
		</li>
		<li><a>Invitations</a></li>
		<li><a>Backend API</a></li>
		<li><a>Logout</a></li>
	</ul>
</aside>